@font-face {
  font-family: "PressStart2P-Regular";
  src: url("fonts/PressStart2P-Regular.ttf");
}

body {
  background-color: rgb(233, 233, 233);
  font-family: "PressStart2P-Regular";
}

h1 {
  text-align: center;
}

.result {
  background-color: rgb(251, 251, 251);
  width: 320px;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 7px;
  box-sizing: border-box;
  padding: 8px;
}

/*.calculator {
  background-color: brown;
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: center;
  align-items: center;
}*/

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 320px;
}

button {
  width: 80px;
  height: 80px;
  font-family: "PressStart2P-Regular";
  font-size: 11px;
  align-items: center;
  background-color: rgb(252, 251, 251);
  border: 1px solid rgb(143, 142, 142);
  border-radius: 5px;
  box-shadow: 35px 35px 60px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
}

button:hover {
  background-color: rgb(219, 219, 211);
}
